services:
  - type: cron
    name: news-scraper
    env: python
    runtime: python-3.11
    schedule: "0 3 * * *"
    buildCommand: bash build.sh
    startCommand: python main.py
    envVars:
      - key: SENDER_EMAIL
        sync: false
      - key: SENDER_PASSWORD
        sync: false
      - key: RECIPIENT_EMAIL
        sync: false
